extends layout

block title
  title Sprite Generator

block content

  header.mdl-layout__header
    .mdl-layout-icon
    .mdl-layout__header-row
      span.mdl-layout__title Test Layout
      .mdl-layout-spacer
      .mdl-navigation
        a.mdl-navigation__link(href="#") Link 1
        a.mdl-navigation__link(href="#") Link 2
        a.mdl-navigation__link(href="#") Link 3
        a.mdl-navigation__link(href="#") Link 4
